auto-install-peers = true
# Hoist dependencies for Mendix pluggable widgets tools
shamefully-hoist=true
public-hoist-pattern[]=*react*
public-hoist-pattern[]=*@types/react*
public-hoist-pattern[]=*mendix*